<!DOCTYPE html>
<html>
<body>

<div class="background">
	<div class="box">

		<div class="reg-title">User</div>
		<p>Name: <%= @user.name if @user.name %></p>
		<p>Email: <%= @user.email if @user.email %></p>

		<div class="reg-title">My Posts</div>
		<% @user.posts.each do |p| %>
		    <br> &nbsp;&nbsp; Title: <%= p.title %>
		    <br> &nbsp;&nbsp; Text: <%= p.text %>
		   <% end %> 

		<div class="reg-title">My Comments</div>
		<% @user.comments.each do |p| %>
		    <br> &nbsp;&nbsp; Text: <%= p.body %>
		   <% end %> 
	</div>
</div>

</body>
</html>