<!DOCTYPE html>
<html>
<body>

<div class="background">
	<div class="box">

		<div class="reg-title">User</div>
			<div class="user-info">
				<div class="user-title">Name:</div> 
				<div class="user-stuff"><%= @user.name if @user.name %></div>
				<div class="user-title">Email:</div> 
				<div class="user-stuff"><%= @user.email if @user.email %></div>
			</div>
		<div class="reg-title">My Posts</div>
			<div class="user-info">
				<% @user.posts.each do |p| %>
				    <br> &nbsp;&nbsp; Title: <%= p.title %>
				    <br> &nbsp;&nbsp; Text: <%= p.text %>
				   <% end %> 
			</div>
		<div class="reg-title">My Comments</div>
		<% @user.comments.each do |p| %>
		    <br> &nbsp;&nbsp; Text: <%= p.body %>
		   <% end %> 
	</div>
</div>

</body>
</html>