<!DOCTYPE html>
<html>
<body>

<div class="background">
   
  <div class="box">

    <div class="reg-title">All Posts</div>

    <table>
      <tr>
        <th>Title</th>
        <th>Text</th>
      </tr>
     
      <% @posts.each do |p| %>
        <tr class="space">
          <td><%= p.title %></td>
          <td><%= p.text %></td>
          <td><%= link_to 'Show', post_path(p) %></td>
          <td><%= link_to 'Edit', edit_post_path(p) %></td>
        </tr>
      <% end %>
    </table>



    <div class="button"><%= link_to 'Write a Post!', new_post_path %></div>

    <%= link_to 'Back', :back %>

  </div>

</div>

</body>
</html>