<!DOCTYPE html>
<html>
<body>

<div class="background">
   


    <div class="reg-title" id="post-title">All Posts</div>
     
      <% @posts.each do |p| %>
        <div class="box">
          <div class="article-title"><%= p.title %></div>
          <div class="article-text"><%= p.text %></div>
          <%= link_to 'Read More', post_path(p), :class => 'button', :id => 'read-button' %>
          <%= link_to 'Edit', edit_post_path(p), :class => 'button', :id => 'edit-button' %>
        </div>
      <% end %>



    <%= link_to 'Write a Post!', new_post_path, :class => 'button', :id => 'post-button' %>




</div>

</body>
</html>