<!DOCTYPE html>
<html>
<body>

<div class="background">
  <div class="box">

    <%= form_for :post, url: posts_path do |f| %>

    <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@post.errors.count, "error") %> prohibited
            this post from being saved:
          </h2>
          <ul>
            <% @post.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="reg-title">New Post</div>

      <p>
        <%= f.label :title, :class => 'label-field' %><br>
        <%= f.text_field :title, :class => 'text-field' %>
      </p>
     
      <p>
        <%= f.label :text, :class => 'label-field' %><br>
        <%= f.text_area :text, :class => 'text-field', :id => 'description' %>
      </p>
     
      <p>
        <%= f.submit :class => 'form-button'%>
      </p>
    <% end %>

    <%= link_to 'Back', posts_path, :class => 'button' %>

</div>
</div>

</body>
</html>