<!DOCTYPE html>
<html>
<body>

<div class="background">
  <div class="box" id="show-box">
    
    <div class="reg-title" id="article-title">
      <%= @post.title %>
    </div>

    <%= link_to 'Edit', edit_post_path(@post), :class => 'button', :id => 'edit-show-button' %>
     
    <div class="article">
      <%= @post.text %>
    </div>

    <div class="line"> </div>

    <div class="addcomment-title">ADD A COMMENT:</div>
    <%= form_for([@post, Comment.new]) do |f| %>
      <p>
        <%= f.label :commenter, :class => 'label-field', :id => 'commenter-field' %><br>
        <%= f.text_field :commenter, :class => 'text-field', :id => 'commenter-text' %>
      </p>
      <p>
        <%= f.label :body,  :class => 'label-field', :id => 'commenter-field' %><br>
        <%= f.text_area :body, :class => 'text-field', :id => 'comment-text' %>
      </p>
      <p>
        <%= f.submit :class => 'form-button', :id => 'create-button' %>
      </p>
    <% end %>

    <% @post.comments.each do |comment| %>
      <div class="commenter">
        <%= comment.commenter%>
      </div>
     
      <div class="comment-body">
        <%= comment.body %>
      </div>

      <p>
      <%= link_to 'Delete Comment', [comment.post, comment],
                   method: :delete,
                   :class => 'button', :id => 'comment-button' %>
      </p>

    <% end %>

    <%= link_to 'Back', :back, :class => 'button', :id => 'show-back-button'  %>

  </div>

</div>

</body>
</html>
