<!DOCTYPE html>
<html>
<head>
  <title>SafeSpace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>

  <% end %>



<div id="header">

  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.name %></strong>.
    <div class="round-image-50"><%= image_tag(current_user.avatar.url(:thumb)) %> </div>
    <%= link_to image_tag("logo.png", :class => 'logo'), root_path %> 
    <%= link_to 'Edit Profile', edit_user_registration_path, :class => 'navbar-link' %> 
    <%= link_to "My Posts", user_path(current_user), :class => 'navbar-link'  %>
    <%= link_to "My Comments", posts_path, :class => 'navbar-link'  %>
    <%= link_to "Log Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
   
  <% else %>
    <%= link_to image_tag("logo.png", :class => 'logo'), root_path %> 
    <%= link_to "sign up", new_user_registration_path, :class => 'navbar-link', :id => 'sign-up'  %> 
    <%= link_to "log in", new_user_session_path, :class => 'navbar-link', :id => 'log-in' %>

  <% end %>

<div id="line"> </div>

</div>



<%= yield %>

</body>
</html>
